header {
    padding: 60px 0;
    text-align: center;
}

.title {
    font-size: 65px;
    font-weight: 600;
}

section {
    padding: 20px 12px;
    display: flex;
    justify-content: center;
}

.block {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    max-width: 1000px;
}

.content-box {
    border: 2px solid lightgray;
    padding: 40px;
    border-radius: 8px;
}

.content-box-row {
    display: flex;
}

.content-box-row-color {
    color: lightseagreen;
    padding: 7px;
    width: 50%;
}

.content-box-number {
    padding: 7px;
    text-transform: capitalize;
    width: 50%;
}

.inputs {
    display: flex;
    flex-direction: column;
    height: 130px;
    gap: 15%;
}

input {
   
   
}

.lineHr {
    color: lightgray;
}

.equals {
    display: flex;
    justify-content: center;
    color: lightgray;
    font-size: 80px;
    height: 100%;
}
